# dependencias
/node_modules

# variables de entorno
.env
.env*.local

# compilados de Next
/.next
/out
.next/trace

# Prisma generado
/generated
/generated/prisma
/prisma/generated

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
